.whole{
  height: 100%;
  width: 100%;
  background-color: rgb(122, 118, 118);
  color: white;
}
.outer {
  background-color: rgb(20, 20, 20);
  padding: 2%;
  color: white;
}
mat-card-title, mat-card-subtitle {
  text-align: center;
}
.outer mat-card-title{
  font-size: 28px;
  padding-top: 18px;
}
mat-card-subtitle{
  font-size: 20px;
}
.inner {
  background-color: rgb(214, 210, 210);
  margin: 4% 1% 1% 1%;
}
.inner mat-card-content {
  margin-left: 10%;
  padding-bottom: 5%;
  font-size: 18px;
}

li {
  list-style: none;
  margin: 5% 10% 5% 10%;
}
.back{
  float: right;
  /* padding: 5%; */
}
a{
  text-decoration: none;
}
.del{
  margin: 8px;
  background-color: rgb(180, 209, 245);
}
