<div class="outer">
  <div class="head">
    <h2>CONTACT FORM</h2>
  </div>
  <div class="card">
    <mat-card>
      <form (ngSubmit)="ContactReg(SignupForm)" #SignupForm="ngForm" >

        <mat-form-field>
          <input type="text"
          matInput
          name="name"
          ngModel
          placeholder="Name"
          #nameInput= "ngModel"
          required>
          <mat-error *ngIf="nameInput.invalid">Please Enter your name!</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input type="email"
                  matInput
                  name = "email"
                  ngModel
                  placeholder="Email ID"
                  #emailId = "ngModel" required email>
          <mat-error *ngIf="emailId.invalid">Please Enter a valid Email ID!</mat-error>
      </mat-form-field>

        <mat-form-field>
          <input type="text"
          matInput
          name="message"
          ngModel
          placeholder="Your message for Harsh"
          #pswrdInput= "ngModel"
          required>
          <mat-error *ngIf="pswrdInput.invalid">Please Enter your message here!</mat-error>
        </mat-form-field> <br> <br>
        <div class="butt">
        <button  mat-raised-button color="primary" type="submit">
          Submit
        </button>
      </div>
      <!-- <input type="hidden" id="security" name="fx_trj_horse" value=""> -->
      </form>
      <!-- <button mat-raised-button class="back"><a routerLink="/">Back</a> </button> -->
    </mat-card>
  </div>
  <br>
  <div class="back">
    want to go back? <a routerLink="/">click here! </a><br> <br>
  </div>
  <div class="footer">
    <div class="icons">
      <a href="https://www.facebook.com/profile.php?id=100009592043083"><i class="fab fa-facebook-f"></i></a>
      <a href="https://twitter.com/Harshku21974218"><i class="fab fa-twitter"></i></a>
      <a href="https://www.linkedin.com/in/harsh-kumar-06624b166/"><i class="fab fa-linkedin-in"></i></a>
      <a href="https://github.com/harsh-kk"><i class="fab fa-github"></i></a>

    </div>
  </div>
</div>
