<div class="whole">
  <mat-card class="outer">
  <mat-card-title>
      LIST OF PEOPLE WHO CONTACTED ME
  </mat-card-title>
  <mat-card-content>
          <ul>
              <li *ngFor="let d of data">
                  <mat-card class="inner">
                     <!-- <mat-card-title>NAME:  {{d.Name}} </mat-card-title>
                     <mat-card-subtitle>EMAIL ID: {{d.EmailId}}</mat-card-subtitle> -->
                     <mat-card-content>  <br> <br>
                      <b>NAME:</b>  {{d.Name}} <br> <br>
                      <b>EMAIL ID:</b> {{d.EmailId}} <br> <br>
                     <b>MESSAGE:</b> {{d.Message}} <br> <br>
                    <b>{{d.createdDate}}</b> <br> <br>
              </mat-card-content>
               </mat-card>
              </li>
          </ul>
  </mat-card-content>
  <button mat-raised-button class="back"><a routerLink="/harsh@admin@harsh1403@12213">Back</a> </button>
</mat-card>
</div>
