<div class="whole">
  <mat-card class="outer">
  <mat-card-title>
      LIST OF PEOPLE WHO CONTACTED ME
  </mat-card-title>
  <mat-card-content>
          <ul>
              <li *ngFor="let d of data">
                  <mat-card class="inner">
                     <mat-card-title>NAME:  {{d.Name}} </mat-card-title>
                     <mat-card-subtitle>EMAIL ID: {{d.Email}}</mat-card-subtitle>
                     <mat-card-content>
                     MESSAGE: {{d.Text}} <br> <br>
                    DATE: {{d.createdDate}} <br> <br>
              </mat-card-content>
               </mat-card>
              </li>
          </ul>
  </mat-card-content>
  <button mat-raised-button class="back"><a routerLink="/harsh@admin@harsh1403@12213">Back</a> </button>
</mat-card>
</div>
