<div class="whole">
<div class="header">
  <h1>Hello Harsh! 😄</h1>
  <h3>Welcome to the admin panel!</h3> <hr>
</div>
<div class="menu">
  <span class="div1">
    <mat-card>
      <mat-card-title>
       ADD BLOG
      </mat-card-title>
      <mat-card-content>
        Want to add a new blog on your website? <br>
        <a routerLink="/admin@harsh@1403/blog_Reg">Click Here!</a>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>
        VIEW BLOGS
      </mat-card-title>
     <mat-card-content>
        Want to add a new blog on your website? <br>
        <a routerLink="/admin@harsh@1403/blog_list">Click Here!</a>
      </mat-card-content>
    </mat-card>
  </span>
  <span class="div2">
    <mat-card>
      <mat-card-title>
        CONTACT LIST
      </mat-card-title>
     <mat-card-content>
        Want to see who all contacted you till now? <br>
        <a routerLink="/admin@harsh@1403/contact_list">Click Here!</a>
      </mat-card-content>
    </mat-card>
  </span>
  <span class="div3">
    <mat-card>
      <mat-card-title>
      ADD PIC TO GALLERY
      </mat-card-title>
     <mat-card-content>
        Want to add new picture to your gallery? <br>
        <a routerLink="/admin@harsh@1403/add_pic">Click Here!</a>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>
        VIEW GALLERY
      </mat-card-title>
     <mat-card-content>
        Want to see who all your pictures? <br>
        <a routerLink="/admin@harsh@1403/gallary">Click Here!</a>
      </mat-card-content>
    </mat-card>
  </span>
</div>
<div class="footer">
  <br>
    Want to see your site? <br>
    <a routerLink="">Click here!</a>
</div>

</div>
