<title>@Harsh</title>
<div class="whole">

  <!-- The part containing header -->
  <div class="header">
    <span class="menu">
      <img src="https://i.ibb.co/7R9YZB7/preview.jpg" alt="sign">
      <h1>Harsh Kumar</h1>
        ( @Xploitprotocol ) <br>
        <p class="intro">Security Researcher<br> Member of Ministry of Human Resource Development <br>
        In a journey of making myself the hacker guy that your friends will tell you about!</p>
    </span>
    <span class="pic">
      <div class="card middle">
        <div class="front">
          <img src="../../../assets/img/final.png" height="320px" width="320px">
          </div>
          <div class="back">
            <div class="back_content middle">
              <h2><b>HARSH KUMAR</b> </h2>
              <span>@Xploitprotocol</span>
              <div class="icons">
                <a href="https://www.facebook.com/profile.php?id=100009592043083">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://twitter.com/Harshku21974218">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.linkedin.com/in/harsh-kumar-06624b166/">
                  <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://github.com/harsh-kk">
                  <i class="fab fa-github"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
    </span>
  </div>
  <!-- The part containg pic -->
  <div class="mid">
    <mat-card class="m1">
      <mat-card-header>
        <h2>Blogs</h2><hr>
      </mat-card-header>
      <mat-card-content>
        I write blogs based on my research. <br> Want to have a look at my Blogs? <br>
        <a routerLink="/blog_list">click here!</a>
      </mat-card-content>
    </mat-card>
    <mat-card class="m2">
      <mat-card-header>
        <h2>Gallary</h2> <hr>
      </mat-card-header>
      <mat-card-content>
       Want to have a look at my gallary?<br>
       <a routerLink="/gallary">click here!</a>
      </mat-card-content>
    </mat-card>
    <mat-card class="m3">
      <mat-card-header>
        <h2>Contact Me</h2> <hr>
      </mat-card-header>
      <mat-card-content>
        Any message for me? <br> Feel free to <a routerLink="/contact">contact here!</a>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- This is the footer part -->
  <div class="footer">
    <div class="icons">
      <!-- <h3>Get Connected with me</h3> -->
        <a href="https://www.facebook.com/profile.php?id=100009592043083"><i class="fab fa-facebook-f"></i>
        </a>
        Facebook <a href="https://twitter.com/Harshku21974218"><i class="fab fa-twitter"></i></a>
        Twitter<a href="https://www.linkedin.com/in/harsh-kumar-06624b166/"><i class="fab fa-linkedin-in"></i></a>
        LinkedIn<a href="https://github.com/harsh-kk">
          <i class="fab fa-github"></i>
        </a>Github
        <h5>| Copyright @Xploitprotocol |</h5>
        <!-- <h4>@copyrights reserved!</h4> -->
    </div>
  </div>
</div>
